.section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.backLink {
  display: inline-block;
  width: fit-content;
}

.wrapper {
  display: flex;
  gap: 24px;
}

.image {
  width: 300px;
  border-radius: 8px;
}

.additional {
  padding-top: 16px;
  border-top: 1px solid #ccc;
}